/* ── VARIABLES ── */
:root {
    --accent:   #E65F78;
    --white:    #FFFFFF;
    --primary-bg:  #1F1F1F;
    --secondary-bg:    #333333;
    --header-text: #F7F7F7;
    --placeholder-bg:    #CCCCCC;
    --font: 'Open Sans', sans-serif;
}

/* ── RESET ── */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font), sans-serif;
    background-color: var(--primary-bg);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ── NAV BAR ── */
.nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
    background: var(--primary-bg);

    z-index: 100;
}
.nav__logo img { width: 50px; height: 50px; }
.nav__links { display: flex; gap: 40px;}
.nav__links a { font-size: 16px; color: var(--header-text); text-decoration: none;}
.nav__links a:hover { color: var(--accent); }

